<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Corte de Caja</title>
</head>
<link rel="stylesheet" th:href="@{/css/style_ticket.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


<body>
	<form>
		<h3 class="text-center">Corte de Caja</h3>
		<div class="form-control">
			<label>Dinero Contado</label><input type="text" class="form-control">
		</div>
		<div class="form-control">
			<label>Caja chica del siguiente corte</label> <input type="text"
				class="form-control">
		</div>
			<input type="submit" class="btn btn-primary btn-lg btn-block"
				onclick="" value="Enviar Caja Chica">

	</form>


	<!-- <script type="text/javascript">
  window.onload=function(){
  window.print();}</script> 
  
  -->
</body>
</html>