<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<form th:action="@{/form}" th:object="${factura}" method="POST">

		
		<div class="dropdown-divider"></div>
		<div class="form-row">
			<h2 class="mb-0 form-row"
				style="font-size: 20px; background-color: #BCBCBC; width: 100%;">
				Información Fiscal Para Facturación</h2>
		</div>
		<br>
		<div class="form-row mb-0">
			<div class="form-group col-md-3">
				<label class="col-form-label-sm mb-0">*No. Folio</label> <input
					type="text"
					class="form-control form-control-sm" />
			</div>
			<div class="form-group col-md-6">
				<label class="col-form-label-sm mb-0">*RFC Paciente</label> <input
					type="text" 
					class="form-control form-control-sm" />
			</div>
			<div class="form-group col-md-3">
				<label class="col-form-label-sm mb-0">*RFC Empresa</label> <input
					type="email" 
					class="form-control form-control-sm" />
			</div>
			<div class="form-group col-md-5">
				<label class="col-form-label-sm mb-0">*Razon Social</label> <input
					type="text" 
					class="form-control form-control-sm" />
			</div>
			<div class="form-group col-md-3">
				<label class="col-form-label-sm mb-0">*Monto</label> <input
					type="text" 
					class="form-control form-control-sm" />
			</div>
			
			
			
		</div>
		<div class="form-row mb-0">
			
			<div class="form-group col-md-4">
				<label class="col-form-label-sm mb-0">*Facturó</label> <input
					type="text"
					class="form-control form-control-sm" />
			</div>
			
			<div class="form-group col-md-4">
				<label class="col-form-label-sm mb-0">*Status</label> <input
					type="text" 
					class="form-control form-control-sm" />
			</div>
			
			
		</div>

			<input type="submit" value="Crear Registro" />			
		<div align="right">
			

		</div>
		
		<input type="hidden" th:field="*{facturaId}" />
	</form>
</body>
</html>