
<nav id="sidebar" >
	<ul class="list-unstyled components">

		
		<!--  Bienvenida -->
		<li>
			<font class="bienvenida">
				<p>Bienvenido</p>
			</font>
			
			<hr id="Barra" style="width: 90%; background: white;">
		</li>
		<!--  Cierra Bienvenida -->
		
		
		<!-- Icono de Inicio -->
		<li>
			<a th:href="@{/index}" title="Regresar al Inicio">
				<i class="fas fa-home text-center"></i>
				<span>Inicio</span>
			</a>
		</li>
		<!-- Icono de Inicio -->
		
		
		
		
		
		<!-- Icono de Operaciones -->
		<li>
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" title="Abrir Operaciones"> 
				<i class="fas fa-address-card"></i> 
				<span>Operaciones</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu">
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})">
					<a th:href="@{/operaciones_recepcion}">Recepcion del paciente</a>
				</li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')}) or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})">
					<a th:href="@{/operaciones_folios}">Folios registrados</a>
				</li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})">
					<a th:href="@{/operaciones_facturacion}">Facturaci&oacute;n</a>
				</li>
			</ul>
		</li>
		<!-- Icono de Operaciones -->
		
		
		
		
		
		
		<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" title="Abrir Administraci&oacute;n"> <i class="fas fa-users-cog"></i>
				<span>Administraci&oacute;n</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu2">
				<li><a th:href="@{/administracion_empleados}">Empleados</a></li>
				<li><a th:href="@{/administracion_informacion}">Informaci&oacute;n
						Fiscal</a></li>
				<li><a th:href="@{/administracion_sucursales}">Sucursales</a></li>
				<li><a th:href="@{/administracion_usuarios}">Usuarios</a></li>
			</ul>
		</li>
		
		
		
		
		<li
			th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')}) or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})">
			<a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" title="Abrir Estudios"> <i class="fas fa-file-medical"></i>
				<span>Estudios</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu3">
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')}) or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/estudios_listar}">Listar estudios</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/estudios_examenes}">Ex&aacute;menes</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/estudios_perfiles}">Perfiles</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/estudios_paquetes}">Paquetes</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/gabinete}">Gabinete</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/estudios_calculos}">C&aacute;lculos</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/estudios_cultivos}">Cultivos</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/estudios_antibiogramas}">Antibiogramas</a></li>
			</ul>
		</li>
		
		
		
		
		<li
			th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" title="Abrir Precios"> <i class="fas fa-dollar-sign"></i>
				<span>Precios</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu4">
				<li><a th:href="@{/precios_listas}">Listas de precios</a></li>
				<li><a th:href="@{/precios_convenios}">Convenios</a></li>
				<li><a th:href="@{/listar_empresa}">Listar Empresas</a></li>
				<li><a th:href="@{/precios_promociones}">Promociones</a></li>
			</ul>
		</li>
		
		
		
		
		<li
			th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
			<a href="#homeSubmenu5" data-toggle="collapse" aria-expanded="false" title="Abrir Productos y Servicios"> <i class="fas fa-diagnoses"></i>
				<span>Productos y servicios</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu5">
				<li><a th:href="@{/proserv_productos}">Productos</a></li>
				<li><a th:href="@{/proserv_servicios}">Servicios</a></li>
			</ul>
		</li>
		
		
		
		
		<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})">
			<a href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" title="Abrir Cat&aacute;logos"> <i class="fas fa-users-cog"></i>
				<span>Cat&aacute;logos</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu6">
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/catalogos_alertas}">Alertas</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/catalogos_condicion}">Catalogo</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})"><a th:href="@{/catalogos_antibiotico}">Antibi&oacute;ticos</a></li>
			</ul>
		</li>
		
		
		
		
		<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})">
			<a href="#homeSubmenu7" data-toggle="collapse" aria-expanded="false" title="Abrir Herramientas"> <i class="fas fa-wrench"></i>
				<span>Herramientas</span>
			</a>
			<ul class="collapse list-unstyled" id="homeSubmenu7">
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})"><a th:href="@{/herramientas_participaciones}">Participaciones
						m&eacute;dicos</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})"><a th:href="@{/herramientas_corte}">Corte de caja</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')})"><a th:href="@{/herramientas_notificaciones}">Notificaciones</a>
				</li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/herramientas_reportes}">Reportes</a></li>
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a th:href="@{/herramientas_sistema}">Sistema</a></li>
			</ul>
		</li>
		
		
		
		
		<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_RECEPCIONISTA'')')}) or (${#authorization.expression('hasRole(''ROLE_VALIDACION'')')})">
			<a href="#homeSubmenu8" data-toggle="collapse" aria-expanded="false" title="Abrir Ayuda"> <i class="fas fa-question-circle"></i>
				<span>Ayuda</span>
		</a>
			<ul class="collapse list-unstyled" id="homeSubmenu8">
				<li><a th:href="@{/herramientas_notificaciones}">Acerca de</a></li>
				<li><a th:href="@{/herramientas_reportes}">Contacto</a></li>
				<li><a th:href="@{/herramientas_sistema}">Registros</a></li>
			</ul>
		</li>
		
		
	</ul>
</nav>